/*Body*/
body {
  margin: 0;
  padding: 0;
  background: #EEE2DC;
  font-family: "Roboto", serif;
  color: #AC3B61!important;

}

/*Wrap*/
.wrap {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/*Menu*/
nav {
  margin: 0;
  background: #EDC7B7;
  padding: 10px 0px;
  width: 20%;
  position: relative;
  #menu {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
    li {
      width: 100%;
      z-index: 1;
      position: relative;
      &:hover > .submenu, &:focus > .submenu {
        display: flex;
      }
      a {
        &:hover, &:focus {
          opacity: 0.3;
          cursor: pointer;
        }
        display: block;
        margin-right: 10px;
        color: #AC3B61;
        text-decoration: none;
        .active {
          font-weight: bold;
        }
      }
      .submenu {
        z-index: 1;
        margin-left: 220px;
        top: 0;
        justify-content: center;
        list-style-type: none;
        width: 200px;
        background: grey;
        border-radius: 5px;
        padding: 5px;
        display: none;
        flex-direction: column;
        position: absolute;
        li {
          width: 100%;
          margin: 0;
          z-index: 5;
          padding: 0;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/*Content*/
.content {
  background: rgba(0, 0, 0, 0.05);
  width: 80%;
  padding:10px 0px 30px;
  .main{
    padding:0 25px;
    color: #AC3B61;
  }
}

/*Tite*/
.title {
  text-align: center;
  width: 100%;
  background: #e4beae;
  color: #AC3B61;
  h2 {
    padding: 5px 5px;
    margin: 0;
  }
}

/*ERROR*/
#error{
  color:red;
}
.notice{
  font-size:12px;
  display:block;
  margin-bottom:10px;
}

button,select,input,textarea{
  border-radius:5px;
  border:none;
  background:white;
  padding:5px 10px;
  -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
  transition: 0.3s;
  &:hover,&:focus{
    cursor:pointer;
    background: #f6f6f6;
    transition: 0.3s;

  }
}
textarea{
  margin-bottom: 10px;
}
input{
  margin:10px 0px 10px;
}
#newReservering{
  margin-bottom:10px;
}
table{
  border-radius:10px;
}
.delete{
  color:red;
}
.edit{
  color:cornflowerblue;
}
/*RESERVERINGEN*/
@import 'reserveringen';
@import 'bon';


